#nonESFT
workspace/lab*
workspace/tm4c.eww
workspace/.metadata
workspace/dvt
workspace/RemoteSystemsTempFiles
workspace/settings
tivaware/boot_loader
tivaware/examples
tivaware/grlib
tivaware/IQmath
tivaware/nfclib
tivaware/sensorlib
tivaware/tools
tivaware/usblib
tivaware/utils

# Assembled binaries and object directories
obj/

# Object files
*.o
*.ko
*.obj
*.elf
*.pp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.out
*.app
*.bin

# Other
*.mk
*.map
desktop.ini